.board__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 10px;
  width: fit-content;
  border: 1px solid black;
}

.tasks__wrapper {
  border: 1px dashed black;
  padding: 10px;
  margin: 0 5px;
}

.tasks__title {
  font-weight: bold;
  margin: 0 0 5px 0;
}

.tasks__list {
  padding: 0;
  margin: 0 0 0 10px;
}

.tasks__list li {
  margin-bottom: 5px;
}

.tasks__list li:last-of-type {
  margin-bottom: 0;
}

.tasks__list button {
  margin: 0 4px;
}