.list__item--admin {
  text-transform: uppercase;
}

.list__item--lector {
  font-weight: bolder;
}

.list__item--student {
  text-decoration:underline;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: crimson;
}